In [1]:
file_id = "1atOZX3YXmxx-_QebbTfndeC6U_DPTL2e" # ID of the file on Google Drive
file_name = "Updated_data_2021&2022.csv"

%run download.ipynb

Downloading...
From (uriginal): https://drive.google.com/uc?id=1atOZX3YXmxx-_QebbTfndeC6U_DPTL2e
From (redirected): https://drive.google.com/uc?id=1atOZX3YXmxx-_QebbTfndeC6U_DPTL2e&confirm=t&uuid=6c35b83f-8613-4c83-8186-7cc55710d921
To: C:\Users\nhduc\OneDrive\Desktop\MM Project\Team4\Team-4\Data\Updated_data_2021&2022.csv
100%|█████████████████████████████████████████████████████████████████████████████| 1.08G/1.08G [00:19<00:00, 55.4MB/s]

In [2]:
import numpy as np
import pandas as pd

In [3]:
current_dir = os.getcwd()
parent_dir = os.path.dirname(current_dir)
file_path = os.path.join(parent_dir, 'Data',file_name)

df = pd.read_csv(file_path)
df.head()

,DATE_DIM,DAY_OF_WEEK,BET_ACCOUNT_NUM_HASH,AGE,AGE_BAND,GENDER,TENURE_IN_DAYS,RESIDENTIAL_STATE,FOB_RACING_TURNOVER,FOB_SPORT_TURNOVER,PARI_RACING_TURNOVER,PARI_SPORT_TURNOVER,TOTAL_TURNOVER,DIVIDENDS_PAID,GROSS_MARGIN,TICKETS
0,2021-01-01,Fri,13154,67.0,65+,M,11846,WA,37.0,NaN,1081.0,NaN,1118.0,443.55,271.254275,288
1,2021-01-01,Fri,18379,54.0,45-54,M,1884,WA,40.0,NaN,NaN,NaN,40.0,0.00,40.000000,1
2,2021-01-01,Fri,559232,63.0,55-64,M,2866,WA,NaN,NaN,12.0,NaN,12.0,9.50,2.041720,5
3,2021-01-01,Fri,698904,69.0,65+,M,2100,WA,NaN,NaN,1223.5,NaN,1223.5,267.91,245.117147,40
4,2021-01-01,Fri,762921,67.0,65+,M,4766,WA,NaN,NaN,17.5,NaN,17.5,0.00,3.504075,5